<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #personForm="ngForm">
      <div class="form-group">
        <label for="id">Id</label>
        <input type="text" [(ngModel)]="person.id"
               class="form-control"
               id="id"
               name="id"
               placeholder="Enter the id"
               required #id="ngModel">
      </div>
      <div [hidden]="!id.pristine" class="alert alert-danger">Id is required</div>
      <div class="form-group">
        <label for="firstname">Firstname</label>
        <input type="text" [(ngModel)]="person.firstname"
               class="form-control"
               id="firstname"
               name="firstname"
               placeholder="Enter the firstname"
               required #firstname="ngModel">
        <div [hidden]="!firstname.pristine" class="alert alert-danger">Firstname is required</div>
      </div>
      <div class="form-group">
        <label for="lastname">Lastname</label>
        <input type="text" [(ngModel)]="person.lastname"
               class="form-control"
               id="lastname"
               name="lastname"
               placeholder="Enter the Lastname"
               required #lastname="ngModel">
        <div [hidden]="!lastname.pristine" class="alert alert-danger">Lastname is required</div>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" [(ngModel)]="person.address"
               class="form-control"
               id="address"
               name="address"
               placeholder="Enter the Address"
               required #address="ngModel">
        <div [hidden]="!address.pristine" class="alert alert-danger">Address is required</div>
      </div>
      <div class="form-group">
        <label for="mail">Mail</label>
        <input type="text" [(ngModel)]="person.mail"
               class="form-control"
               id="mail"
               name="mail"
               placeholder="Enter the Mail"
               required #mail="ngModel">
        <div [hidden]="!mail.pristine" class="alert alert-danger">Mail is required</div>
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="text" [(ngModel)]="person.phoneNumber"
               class="form-control"
               id="phoneNumber"
               name="phoneNumber"
               placeholder="Enter the Phone number"
               required #phoneNumber="ngModel">
        <div [hidden]="!phoneNumber.pristine" class="alert alert-danger">Phone number is required</div>
      </div>
      <button type="submit" [disabled]="!personForm.form.valid"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
